@tablet-width: 768px;
@desktop-width: 1200px;

@color-body: white;
@color-border: #ececec;
@color-block-base: #63d1bb;
@color-text: #444444;
@font: "Open Sans", "Arial", sans-serif;

body {
  font-family: @font;
  background: @color-body;
  margin: 0;
  min-width: 320px;
}


.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.main-nav {
  position: relative;
}

.page-header {
  border-bottom: solid 1px @color-border;
}

.page-main__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 69px;

}

.page-title {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -20px;
}

.page-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-menu__items--interior {
  background-color: @color-block-base;
}

.page-menu__items--toys {
  background-color: #56c3b2;
}

.page-menu__link {
  text-decoration: none;
  display: block;
  position: relative;
  padding-top: 27px;
  padding-right: 120px;
  padding-bottom: 28px;
  padding-left: 28px;
}

.page-menu__icon {
  position: absolute;
  fill: #149080;
  opacity: 0.5;
}

.page-menu__icon--interior {
  right: 37px;
  top: 24px;
}

.page-menu__icon--toys {
  right: 27px;
  top: 20px;
}

.page-menu__title {
  position: relative;
  margin: 0;
  color: white;
  font-size: 19px;
  line-height: 24px;
  width: 120px;
}

.page-main__item {
  margin-bottom: 28px;
}

.goods-week {
  margin-bottom: 68px;
}

.goods-week__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.goods-week__mark {
  display: block;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.goods-week__mark--color-turquoise {
  color: @color-block-base;
}

.goods-week__description {
  margin: 0;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: @color-text;
}

.goods-week__table {
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.goods-week__parameter {
  width: 97px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 8px;
}

.goods-week__value {
  padding: 0;
  padding-top: 3px;
}

.goods-week__img {
  width: 100%;
  height: auto;
}

.goods-week__price {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @color-text;
  text-align: center;
}



.button {
  display: block;
  box-sizing: border-box;
  padding: 15px 0;
  text-decoration: none;
  text-align: center;
  border: solid 2px @color-text;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.goods-week__button-order {
  color: @color-text;
}

.about {
  margin-bottom: 56px;
}

.about__title  {   /* сделать общий класс для section > h2 */
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.about__item {
  padding-top: 65px;  /* для картинок */
  margin-bottom: 18px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.reviews-slider {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.blog {
  margin: 0;
}

.blog__text {
  margin: 0;
  margin-bottom: 27px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.blog__author {
  display: block;
  margin-bottom: 3px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.blog__nickname {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

.blog__nickname-link {
  text-decoration: none;
}

.reviews {
  margin-bottom: 85px;
}

.reviews__navigation {
  display: flex;
  margin-bottom: 36px;

}

.reviews__button {
  flex-basis: 50%;
  padding: 25px 0;
  box-sizing: border-box;
  border: solid 1px @color-border;
  text-decoration: none;
  font-size: 0;
}

.reviews__button-feedback {
  color: @color-text;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.address__item {
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.address__table {
  border-collapse: collapse;
}

.address__table-row {
  display: flex;
  justify-content: space-between;
}

.address__table-col {
  padding: 0;
  padding-bottom: 30px;
  padding-right: 5px;
  width: 70px;
}

.address__table-value {
  width: 145px;
}

.address__link {
  text-decoration: none;
  padding-bottom: 3px;
  box-shadow: 0 1px 0 0 @color-block-base;
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright__link {
  font-size: 0;
}

.copyright__title {
  margin-right: 30px;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
}

.map {
  margin-bottom: 38px;
}

.contacts__button-feedback {
  color: @color-text;
}

.page-footer {
  background-color: #f1f1f1;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social__link {
  font-size: 0;
}

.social__link-insta--color-monochrome {
  fill: #231F20;
}



@media (max-width: @tablet-width) {

.center {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

/*.main-nav {

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}*/

.main-nav__logo-link {
  display: block;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 17px;
  /*border-bottom: solid 1px @color-border;*/
}

.main-nav__toggle {
  font-size: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  top: 32px;
}

.main-nav__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
}


.menu__item {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 16px;
  border-bottom: solid 1px @color-border;
}

.manu__item:first-child {
  border-top: solid 1px @color-border;
}

.menu__link {
  text-decoration: none;
  color: black;
}

.page-title {
  min-height: 280px;
}

.page-menu__items {
  min-height: 103px;
}

.map__online {
  border: none;
  width: 100%;
}

.map__offline {
  width: 100%;
}

.page-footer__logo-link {
  display: none;
}

}


@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}
